.browsehappy {
  background: #ccc;
  color: #000;
  margin: .2em 0;
  padding: .2em 0;
}

// Space out content a bit
body {
  padding-bottom: 20px;
  padding-top: 20px;
}

// Everything but the jumbotron gets side spacing for mobile first views
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

// Custom page header
.header {
  border-bottom: 1px solid #e5e5e5;

  // Make the masthead heading the same height as the navigation
  h3 {
    line-height: 40px;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 19px;
  }
}


// Custom page footer
.footer {
  border-top: 1px solid #e5e5e5;
  color: #777;
  padding-top: 19px;
}

.container-narrow > hr {
  margin: 30px 0;
}

// Supporting marketing content
.marketing {
  margin: 40px 0;

  p + h4 {
    margin-top: 28px;
  }
}

// Responsive: Portrait tablets and up
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px;
  }

  // Remove the padding we set earlier
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  // Space out the masthead
  .header {
    margin-bottom: 30px;
  }

  // Remove the bottom border on the jumbotron for visual effect
  .jumbotron {
    border-bottom: 0;
  }
}
